.root {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: var(--bg);
}


.flash {
  position: absolute;
  inset: 0;
  z-index: 40;
  pointer-events: none;
  animation: flash 0.4s ease-out forwards;
}

@keyframes flash {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
